<% if tasks.empty? %>
	<span class="text-warning">There are no tasks!</span>
<% else %>
	<table class="table table-hover">
		<tr>
			<th>ToDo</th>
			<th>Created at</th>
			<th>Completed at</th>
			<th>Actions</th>
		</tr>
		<% tasks.each do |task| %>
			<tr>
				<td>
					<strong><%= task.title %></strong>
				</td>
				<td class="text-info">
					<%= task.created_at %>
				</td>
				<td class="text-success">
					<%= task.completed %>
				</td>
				<td>
					<%= link_to task_path(task), remote: true, method: :delete, data: {confirm: "Are you sure you want to delete #{task.title}?"} do %> X
					 <% end %>
					<%= link_to edit_task_path(task), remote: true do %> E
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>